<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<header>
	<h1>Scrape the Web!</h1>
	<p>Welcome to HackerNews Scraper</p>
</header>
<main>
	<section>
	<h2>Follow these links to test scraper functionality!</h2>
	<ul>
		<li>
			<a href="/<%= apiVersion %>/json">Scrape data and get returned as JSON</a>
		</li>
		<li>
			<a href="/<%= apiVersion %>/view">Scrape data and get returned as tabular data on HTML page</a>
		</li>
	</ul>
	</section>
</main>

<footer>
</footer>

</body>
</html>
